/* Default */

a{
    text-decoration: none;
}


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

body{
    background-color: #fff;
    overflow-x: hidden;
    z-index: 5;
}

/* /Default */




/* Container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* /Container */


/* Dark Mode */


.dark .Main__energy__functionBlock__logo{
    background-image: url(Img/CarEnergy/batman.svg);
}

.dark .Logo__text{
    color: #68B738;
}

.dark .energy{
    color: #fff;
}

.dark .Main__energy__functionBlock__box__text{
    color: #D9FFBB;
}

.dark .li {
    color: #fff;
}


.dark body{
    background-color: #292D29;
}



.dark .Main__energy__functionBlock__box{
    color: #fff;
}


.dark .infoEnergy__box{
  background-color: #D9FFBB;
}



.dark .infoEnergy__box__text{
   color: #000;
}



.dark .aboutEnergy__title{
    color: #fff;
}


.dark .aboutEnergy__row__item__text{
    color: #fff;
}


.dark .exempleEnergy{
  background-color: #393B38;
}


.dark .exempleEnergy__info__block__text{
   color: #fff;
}


.dark .exempleEnergy__title{
  color: #fff;
}

.dark .weightInfo{
   color: #fff;
}


.dark .weightInfo__text{
   background-color: #444;
   color: #fff;
}


.dark .weightInfo__textSecond{
    background-color: #444;
    color: #fff;
}


.dark .exempleEnergy__info__block__row{
    color: #fff;
}
.dark .exempleEnergy__catBlock__switcher{
    color: #fff;
}


.dark .switcher_loader__controler{
    border: 1px solid #CDCDCD;
    background-color: #312828 ;
}


.dark .energyFooter{
     background-color: #68B738;
}


.dark .burger__item{
    background-color: #fff; 
}

.dark .burger__item:before{
    background-color: #fff;
}

.dark .burger__item:after{
    background-color: #fff;
}




/* /Dark Mode */


/* Burger Menu */

.Burger__block{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(104, 183, 56, 0.9);
    left: -100%; 
    z-index: 1000;
}
.Burger__block__inner{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body .Burger__block{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.liBurger{
    float: none;
    list-style: none;
    margin: 60px 0;
    font-size: 48px;
    color: #fff;
    font-family: 'Oswald', sans-serif; 
    text-align: center;
    cursor: pointer;
}



/* /Burger Menu */



/* Main Energy */


.Main__energy {
    width: 100%;
    height: 696px;
    background-image: url(Img/CarEnergy/desktopEnergy.png);
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
}

.Main__energy__inner{
    display: flex;
    flex-direction: column;
}

.Main__energy__header{
    width: 100%;
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif; 

}

.Main__energy__functionBlock__logo {
    width: 71px;
    height: 59px;
    background-image: url(Img/CarEnergy/energyLogo.svg);
    cursor: pointer;
}


.Logo__text {
    color: #111111;
    font-size: 25px;
    font-weight: 900;
    margin-left: 10px;
}

.energy{
    font-weight: 500;
    color: #444;
}

.li{
    list-style: none;
    float: left;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif; 
    color: #fff;
    font-size: 20px;
    margin-left: 32px;
    cursor: pointer;
}


.liMain{
    text-decoration: underline;
}


li:hover{
    opacity: 0.6;
    transition: 0.1s;
}




.Main__energy__navBlock__img {
    width: 552px;
    height: 499px;
    background-image: url(Img/CarEnergy/enrgyImg.png);
    position: absolute;
    top: 25%;
    left: 38%;
}



.Main__energy__functionBlock__box {
    margin-left: 65px;
    margin-top: 120px;
}


.Main__energy__functionBlock__box__title {
    font-size: 60px;
    line-height: 60px;
    font-family: 'Oswald', sans-serif; 
    user-select: none;
    z-index: 100;
}


.Main__energy__functionBlock__box__text {
    margin-top: 40px;
    font-family: 'Oswald'; 
    font-size: 20px;
    text-transform: uppercase;
}


.Main__energy__functionBlock__btn {
    color: #fff;
    text-transform: uppercase;
    border: none;
    height: 55px;
    width:240px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif; 
    background-color: #68B738;
    transition: 0.1s linear;
    margin-top: 52px;
    cursor: pointer;
}

.Main__energy__functionBlock__btn:hover{
    background-color: #5c9f32;
}


.burger{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 0;
}


.burger__item{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    color:transparent;
    font-size: 0;
    position: relative;
    
}

.burger__item:before,
.burger__item:after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #000;
}

.burger__item:before{
    top: -8px;
}

.burger__item:after{
    bottom: -8px;
}



@media screen and (max-width:1300px) {
   .Main__energy{
       background-image: url();
   }


   .Main__energy__header{
       margin-top: 25px;
   }

   .li{
       color: #000;
   }


   li:hover{
    opacity: 0.7;
    transition: 0.1s;
   }


   .Main__energy__navBlock__img{
       left: 45%;
   }

}




@media screen and (max-width:1200px){


  .Main__energy__header{
      display: flex;
      justify-content: space-around;
  }

}


@media screen and (max-width:968px) {

    .Main__energy__inner{
        justify-content: center;
        align-items: center;
    }

            .ulHeader{
                display: none;
            }
            
            
            .burger{
            display: block;
        }

         .Main__energy__navBlock__img{
            display: none;
        }

        .Main__energy__functionBlock__box {
            margin-left: 40px;
        }
}



/* /Main Energy */


/* Energy Info */

.infoEnergy{
    width: 100%;
    height: 527px;
    display: flex;
    align-items: center;
}

.infoEnergy__box {
    width: 570px;
    height: 374px;
    padding: 0 50px 0 52px;
    background-color: #F2F2F2;

}


.infoEnergy__box:first-child{
    margin-right: 80px;
}

.infoEnergy__box__row {
    display: flex;
    align-items: center;
    margin-top: 41px;
}


.infoEnergy__box__row__imgCat {
    width: 100px;
    height: 106px;
    background-image: url(Img/InfoEnergy/catBack.svg);
    background-size: cover;
    margin-right: 62px;
}

.infoEnergy__box__row__imgPuma{
    width: 134px;
    height: 100px;
    background-size: cover;
    background-image: url(Img/InfoEnergy/pumaBack.svg);
    margin-right: 47px;
}



.infoEnergy__box__row__text {
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Oswald', sans-serif; 
}


.infoEnergy__box__text {
    margin-top: 40px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 24px;
}


.infoEnergy__box__catalog {
    margin-top: 27px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.infoEnergy__box__catalog__text {
    font-family: 'Oswald', sans-serif; 
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
}



.infoEnergy__box__catalog__block {
    width: 30px; 
    height: 5px; 
    margin: 10px 0;
    background: #000;
    position: relative;
    margin-left: 28px;
    transition: 0.3s;
}


.infoEnergy__box__catalog__block:after {
    content: "";
    position: absolute; 
    top: -4px; 
    left: 100%;
    border-width: 7px 0 7px 10px;
    border-style: solid;
    border-color: transparent #000;
}



.infoEnergy__box__catalog:hover .infoEnergy__box__catalog__block{
    width: 40px;
}



@media screen and (max-width:1300px) {
   
    .infoEnergy{
        height: 800px;
        justify-content: center;
        flex-direction: column;
        padding: 50px 80px;
    }

    .infoEnergy__box{
        width: 100%;
        padding-bottom: 20px;
    }

    .infoEnergy__box:first-child{
        margin-right: 0;
        margin-bottom: 80px;
    }
}


@media screen and (max-width:940px){
    .infoEnergy{
        height: 1000px;
        padding: 0 40px;
    }
}


@media screen and (max-width:640px){

    .infoEnergy__box__row__imgCat {
        width: 70px;
        height: 70px;
        margin-left: 0;
        background-size: cover;
    }


    .infoEnergy__box__row__imgPuma{
        width: 100px;
        height: 70px;
        margin-right: 20px;
        background-size: cover;
    }

    .infoEnergy__box__row__text{
        font-size: 30px;
    }
    
}


/* /Energy Info */





/* About Energy */


.aboutEnergy {
    height: 381px;
    display: flex;
    flex-direction: column;
}





.aboutEnergy__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;    
}



.aboutEnergy__row {
    display:flex;
    justify-content: space-between;
}


.aboutEnergy__row__item {
    width: 250px;
    height: 230px;
    margin-top: 72px;
}


.aboutEnergy__row__item__img {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68B738;
}



.aboutEnergy__row__item__text {
    margin-top: 31px;
    color:#444;
    font-size: 16px;
    font-family: arial;
}




@media screen and (max-width:1300px) {

    .aboutEnergy{
        height: 60vh;
    }

    .aboutEnergy__title{
        text-align: center;
    }
   
    .aboutEnergy__row__item{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .aboutEnergy__row__item__text{
        font-size: 15px;
    }

}    


@media screen and (max-width:868px) {

    .aboutEnergy{
       height: 180vh;
    }

    .aboutEnergy__row{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    .aboutEnergy__row__item{
        width: 300px;
        text-align: center;
    }

    .aboutEnergy__row__item__text{
        font-size: 21px;
    }


    .aboutEnergy__row__item__img{
        height: 100px;
        width: 100px;
    }

}





/* /About Energy */ 


/* Exemple Energy */

.exempleEnergy {
    height: 656px;
    width: 100%;
    display: flex;
    background: #f2f2f2;

}


.exempleEnergy__info {
    width: 50%;
}


.exempleEnergy__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;   
    margin-top: 50px;
}


.exempleEnergy__info__block {
    width: 436px;
    margin-top: 146px;
}


.exempleEnergy__info__block__text {
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    color: #444;
}



.exempleEnergy__info__block__info {
    margin-top: 84px;
    display: flex;
}



.weightInfo {
    width: 162px;
    height: 72px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;    
    font-family: 'Oswald';
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
        
}

.weightInfo__text{
    width: 109px;
    background-color: #F2F2F2;
    color: #444;
    font-family: Arial, sans-serif;
    position: relative;
    left: 27px;
    top: -11px;
}

.first{
    margin-right: 42px;
}


.weightInfo__textSecond{
    width: 115px;
    background-color: #F2F2F2;
    color: #444;
    font-family: Arial, sans-serif;
    position: relative;
    left: 24px;
    top: -11px;
}



.exempleEnergy__info__block__row {
    display: flex;
    margin-top: 40px;
    text-transform: uppercase;
}


.exempleEnergy__info__block__row__text {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}


.exempleEnergy__info__block__row__price {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 63px
}



.exempleEnergy__catBlock {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.catImgBlock{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exempleEnergy__catBlock__img {
    width: 400px;
    height: 400px;
    background-image: url(Img/exempleEnergy/mixCat.png);
    background-size: cover;
}

.exempleEnergy__inner{
    display: flex;
}


.exempleEnergy__catBlock__switcher {
    display: flex;
    text-transform: uppercase;
    align-items: center;
}


.switcher__previous {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}


.switcher_loader {
    width: 400px;
    height: 6px;
    background: #DCDCDC;
    border-radius: 6px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.41s;
}


.switcher_next {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}


.switcher_loader__controler {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini__controler {
    background-color: #68B738;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}


@media screen and (max-width:1300px) {

    .exempleEnergy{
      height: 160vh;
    }


    .exempleEnergy__inner{
        flex-direction: column;
    }

    .exempleEnergy__info{
        width: 100%;
        padding:0 100px;
        height: 50%;
    }

    .exempleEnergy__info__block{
        margin-top: 100px;
        width: 80%;
    }

    .adaptions{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .exempleEnergy__info__block__row{
        display: flex;
        flex-direction: column;
    }


    .exempleEnergy__info__block__row__text{
        margin-top: 20px;
    }


    .exempleEnergy__info__block__row__price{
        margin-left: 0;
        margin-top: 10px;
    }


    .exempleEnergy__catBlock{
        width: 100%;
        height: 50%;
        padding-bottom: 75px;
        padding-top: 100px;
    }
    

}

@media screen and (max-width:940px){

    .exempleEnergy{
        height: 160vh;
    }

    .exempleEnergy__info{
 
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }


    .adaptions{
        display: flex;
        flex-direction: column;
    }

    .exempleEnergy__info__block__row{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    .exempleEnergy__info__block__row__text{
        margin: 0;
    }

    .exempleEnergy__info__block__row__price{
        margin-top: 0;
        margin-left: 30px;
    }

    .switcher_loader{
        width: 300px;
    }
}


@media screen and (max-width:564px){
    .exempleEnergy{
        height: 160vh;
    }
    .switcher_loader{
        width: 260px;
    }

    .exempleEnergy__info{
        padding: 0 0;
    }

    .exempleEnergy__info__block__row__price{
        margin-left: 10px;
    }
}


/* /Exemple Energy */


/* Energy Footer */

.energyFooter {
    width: 100%;
    height: 140px;
    background: #F2F2F2;
    display: flex;  

}

.energyFooter__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footerLogo{
    color: #111111;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Oswald';
}

.energyFooter__social{
    display: flex;
    align-items: center;
}

.icon{
    margin-left: 30px;
    cursor: pointer;
}

.icon:first-child{
    margin-left: 0;
}



.energyFooter__acedemy{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.energyFooter__acedemy__text {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}


.energyFooter__acedemy__img {
    background-image: url(Img/Footer/academy.svg);
    width: 27px;
    height: 34px;
    margin-left: 22px;
}

@media screen and (max-width:1200px) {

    .energyFooter__inner{
        justify-content: space-around;
    }
    
}


@media screen and (max-width:640px) {
    .energyFooter__inner{
        justify-content: space-around;
        flex-direction: column;
        padding: 5px 0;
    }

    .energyFooter__social{
        height: 50px;
        width: 100%;
        border-top: 1px solid #777;
        border-bottom: 1px solid #777;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* /Energy Footer */




/* Register Menu */


.registerMenu{
    width: 400px;
    height: 550px;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px 10px;
}

.pageReg{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}


.registerMenu__title {
    font-size: 32px;
    color: #000;
}



.registerMenu__text {
    margin-top: 5px;
    font-size: 16px;
}

.regText {
    color: #555;
}

.regHr {
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: rgb(207, 207, 207);
    border: none;
}


.registerMenu__inpRow {
    display: flex;
}


.registerMenu__birth {
    margin-top: 10px;
    margin-bottom: 5px;
}


.registerMenu__gender {
    margin-top: 10px;
    margin-bottom: 5px;
}     


.registerMenu__inpRow{
  margin-top: 10px;
}

input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

input{
   border: 1px solid rgb(207, 207, 207);
   color: #000;
   padding:5px 10px;
   border-radius: 6px;
   height: 40px;
}

.inpName{
   width: 180px;

}
.inpName:first-child{
   margin-right: 20px;
}

.deafaultInfo{
 width: 380px;
}


.select:active, :hover, :focus{
   outline: 0;
   outline-offset: 0;
}


select{
   border: 1px solid rgb(207, 207, 207);
   color: #000;
   border-radius: 6px;
   height: 40px;
   width: 115px;
   padding:5px 10px;
   cursor: pointer;
}


.rowSelect{
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.gendeBlock {
   width: 180px;
   border: 1px solid rgb(207, 207, 207);
   color: #000;
   border-radius: 6px;
   height: 40px;
   padding:5px 10px;
   display: flex;
   align-items: center;
   cursor: pointer;
}


.gendeBlock:first-child{
   margin-right: 10px;
}


.gendeBlock__item {
   height: 15px;
   width: 15px;
   border-radius: 50%;
   border: 1px solid rgb(207, 207, 207);
   position: relative;
   left: 90px;
}


.gendeBlock__itemSecond{
   height: 15px;
   width: 15px;
   border-radius: 50%;
   border: 1px solid rgb(207, 207, 207);
   position: relative;
   left: 75px;
}


.registerMenu__btn{
   width: 300px;
   height: 50px;
   font-size: 28px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   border: none;
   background-color: #68b738;
   border-radius: 8px;
   color: #fff;
   cursor: pointer;
}


.registerMenu__logIn{
   margin-top: 20px;
   color: rgb(45, 142, 194);
   text-decoration: underline;
   cursor: pointer;
}






.loginMenu {
 width: 400px;
 height:400px;
 display: flex;
 align-items: center;
 flex-direction: column;
 background-color: #fff;
 border-radius: 10px;
 box-shadow:  0 0 10px #000;
 padding: 10px 10px;
}

.loginMenu__title {
   margin-top: 10px;
   font-size: 28px;
    color: #000;
    margin-bottom: 20px;
}



.LoginDefault {
   width: 380px;
   height: 60px;
   font-size: 24px;
}


.LoginBtn {
   background-color: #68b738;
   width: 300px;
   height: 50px;
   font-size: 28px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   border: none;
   border-radius: 8px;
   color: #fff;
   cursor: pointer;
}   

.logHr{
   height: 1px;
   width: 100%;
   background-color: rgb(182, 179, 179);
   margin-top: 20px;
   border: none;
}


.btnReg{
   margin-top: 20px;
}

.pageReg{
    display:none;
    background-color: rgba(22, 55, 2, 0.2);
    backdrop-filter: blur(20px);
    z-index: 10000000000000000000;
}

.loginMenu{
    display: none;
    box-shadow:  0 0 10px #fff;
}


.registerMenu{
    display: none;
    box-shadow:  0 0 10px #fff;
}

